<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>nonmarkingreturn</key>
	<string>nonmarkingreturn.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>one</key>
	<string>one.glif</string>
    </dict>
</plist>
